* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* ================= LAYOUT ================= */
body {
    background: #f4f4f4;
}

.layout {
    display: flex;
    height: 100vh;
}

/* ================= SIDEBAR ================= */
.sidebar {
    width: 230px;
    background: #9c9393;
    padding: 20px;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    margin-bottom: 40px;
}

.logo img {
   
    width: 70px;   /* LOGO BESAR */
    height: auto;
}

/* MENU */
.menu {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 12px;     /* SUDAH DIPERKECIL */
    background: #9c9393;
    border-radius: 8px;
    font-size: 14px;
}

/* ICON SETTING (KHUSUS) */
.icon-setting {
    width: 20px;           /* ICON KECIL */
    height: 20px;
    object-fit: contain;
}

/* ================= MAIN ================= */
.main {
    flex: 1;
    background: white;
    display: flex;
    flex-direction: column;
}

/* ================= TOPBAR ================= */
.topbar {
    height: 60px;
    background: #cfc6c6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.profile {
    width: 34px;
    height: 34px;
    background: #eee;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ================= CONTENT ================= */
.content {
    padding: 20px;
}

/* CARD */
.card {
    background: #e0e0e0;
    border-radius: 12px;
    padding: 15px;
}

.card h3 {
    margin-bottom: 10px;
}

/* ================= TABLE ================= */
.table-wrapper {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
}

thead {
    background: #d0d0d0;
}

th, td {
    border: 1px solid #888;
    padding: 8px;
    text-align: left;
}

select {
    padding: 4px 6px;
    border-radius: 6px;
}
