*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(
        135deg,
        #fff2d9 0%,
        #d6ecff 50%,
        #ffffff 100%
    );
}

.container{
    display:flex;
    width:90%;
    max-width:900px;
    background:#fff;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

/* LEFT */
.left{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:40px;
}

.left img{
    width:160px;
    margin-bottom:15px;
}

.left h2{
    font-size:22px;
}

/* RIGHT */
.right{
    flex:1;
    padding:40px 30px;
}

.right h3{
    text-align:center;
    margin-bottom:25px;
    font-weight:normal;
}

form input{
    width:100%;
    padding:12px 16px;
    margin-bottom:15px;
    border:none;
    border-radius:25px;
    background:#e2e2e2;
}

form button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:25px;
    background:#d9d9d9;
    cursor:pointer;
}

.link{
    text-align:center;
    margin-top:20px;
    font-size:14px;
}

/* RESPONSIVE */
@media (max-width:768px){
    .container{
        flex-direction:column;
    }

    .left{
        padding:30px;
    }
}
